.card {
  display: inline-grid;
  padding: 0;
}

.wrapper {
  padding: 0;
  margin: 0;
  display: inline-block;
  overflow: hidden;

  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;

    &:hover {
      scale: 1.2;
      overflow: hidden;
    }
  }
}
.myh2 {
  margin: 0;
  background-color: #000000;
  color: #ffffffc6;
  border: 3px solid #000000;
}

.deleteButton {
  color: #000000;
  background-color: #ffffffc6;
  height: 2rem;
  font-size: large;
  font-weight: bold;
  border-radius: 8px;

  &:hover {
    background-color: #bb0505;
    color: #ffffffc6;
  }
}
